aiohttp==3.9.1
aiosignal==1.3.1
asyncpg==0.29.0
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
discord==2.3.2
frozenlist==1.4.1
idna==3.6
wavelink==3.2.0
jishaku==2.5.2
multidict==6.0.4
python-dotenv==1.0.0
yarl==1.9.2